*
!./src/parser_frequency_words.h
!./src/parser_frequency_words.cpp
!./src/parser_frequency_words_test.h
!./src/parser_frequency_words_test.cpp
!./src/main.cpp
!./src/pfw.pro
!./data/test_input.txt
!./data/test_output.txt
!./LICENSE
!./README.md
