*
!./src/word_frequency_analyzer.h
!./src/word_frequency_analyzer.cpp
!./src/word_frequency_analyzer_test.h
!./src/word_frequency_analyzer_test.cpp
!./src/main.cpp
!./src/wfa.pro
!./data/test_input.txt
!./data/test_output.txt
!./README.md
